<div>
  <h3><i>Create your article</i></h3>
  <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
    <div>
      <span>Title: </span>
      <input type="text" formControlName="title">
    </div>

    <div>
      <span>Content: </span>
      <textarea type="text" formControlName="content"></textarea>
    </div>

    <div>
      <span>Author: </span>
      <input type="text" formControlName="author">
    </div>

    <button [disabled]="articleForm.invalid" type="submit">Save</button>
  </form>
</div>
